
body{
    background: rgb(24, 160, 251);
}
h1{
    color:rgb(44, 6, 119);
    font-size: 2em;

}
img{
    border-radius: 100%;
}
.titulo{
    color:black;
}
.nome{
    background:rgb(217, 235, 252);
    height: 100px;;
    width: 100%;
    max-width: 3000px;
    font-size: 2em;
}
.rodape{
    background:rgb(217, 235, 252);
    height:100%;
    width: 100%;
    max-width: 3000px;
}

ol,ul{
    margin-left:100px;
}